/** RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/** COMMON STYLES */

@font-face {
  font-family: 'medium';
  src: url('./fonts/sf-compact-display-medium.otf');
}
@font-face {
  font-family: 'semibold';
  src: url('./fonts/sf-compact-display-semibold.otf');
}
@font-face {
	font-family: 'bold';
	src: url('./fonts/sf-compact-display-bold.otf');
}

body {
  min-width: 320px;
  font-family: 'medium';
}
button {
  font-family: 'bold';
	letter-spacing: 0.8px;
}
.container {
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
}


/** HEADER */

header {
  background: -webkit-linear-gradient(294deg, #383737 0%, #000000 100%);
  background: -o-linear-gradient(294deg, #383737 0%, #000000 100%);
  background: linear-gradient(156deg, #383737 0%, #000000 100%);
  padding: 95px 0 126px;
  position: relative;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.avatar img {
  border-radius: 50%;
  width: 334px;
}
.avatar {
  margin-right: 70px;
}
.info {
  padding-top: 40px;
}
.name {
  font-size: 36px;
  font-family: 'semibold';
  color: #fff;
  letter-spacing: 0.64px;
  margin-bottom: 20px;
}
.title {
  font-size: 36px;
  font-family: 'semibold';
  color: #f8e71c;
  letter-spacing: 0.64px;
  margin-bottom: 20px;
}
.desc {
  font-family: 'medium';
  font-size: 30px;
  color: #f8e71c;
  letter-spacing: 0.48px;
  margin-bottom: 59px;
}
.socials {
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.socials .up {
  display: inline-block;
  background-image: url("./images/socials/white-up.svg");
  background-size: 42px 30px;
  width: 42px;
  height: 30px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.socials .linkedin {
  display: inline-block;
  background-image: url("./images/socials/white-linkedin.svg");
  background-size: 31px 30px;
  width: 31px;
  height: 30px;
}
.socials .git {
  display: inline-block;
  background-image: url("./images/socials/white-git.svg");
  background-size: 29px 36px;
  width: 29px;
  height: 36px;
}
.hire {
  position: absolute;
  top: 40px;
  right: 15px;
}
.hire-btn {
  width: 172px;
  height: 45px;
  font-size: 20px;
  background-color: #f8e71c;
  border-radius: 6px;
  border: 0;
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  cursor: pointer;
}
.hire-btn:hover {
  opacity: 0.8;
}
.arrow-down-right {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 150px solid #fff;
  border-left-color: transparent;
  border-left-style: solid;
}


/** MAIN */

/* experience section */
.experience .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 61px;
  max-width: 865px;
}
.experience-node {
  text-align: center;
  max-width: 130px;
  font-size: 30px;
  font-family: 'semibold';
  color: #000000;
  letter-spacing: 0.48px;
}
.experience-number {
  font-size: 64px;
  font-family: 'semibold';
  color: #000000;
  letter-spacing: 0.25px;
  margin-bottom: 10px;
}
.experience-type {
  font-size: 30px;
}

/* portfolio section */
.portfolio {
  margin-bottom: 110px;
}
.portfolio .container {
  padding-top: 100px;
  text-align: center;
  max-width: 1057px;
}
.portfolio-title {
  font-size: 36px;
  font-family: 'semibold';
  line-height: 45px;
  text-transform: uppercase;
}
.portfolio-apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 100px;
}
.portfolio-app {
  display: inline-block;
  background-size: 175px 175px;
  width: 175px;
  height: 175px;
  margin: 10px;
  border-radius: 40px;
  border: 1px solid #e0e0e0e0;
}

/** FOOTER */

footer {
  position: relative;
}
.arc {
  position: absolute;
  top: -30px;
  display: inline-block;
  height: 134px;
  width: 120%;
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  border-radius: 50%;
  background: #f8e71c;
  z-index: -1;
}
.direct-contact {
  background-color: #f8e71c;
  padding: 70px 0 64px;
}
.direct-contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1057px;
}
.discuss-content {
  width: 40%;
}
.contact-form {
  width: 53%;
}
.contact-title {
  width: 100%;
  height: 60px;
  background: #FFFFFF;
  border-radius: 9px;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 20px;
  padding: 20px;
}
.contact-textarea {
  resize: none;
  width: 100%;
  height: 120px;
  border-radius: 9px;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 20px;
  padding: 20px;
}
.contact-submit {
  width: 150px;
  height: 45px;
  color: #fff;
  background-color: #000;
  border: 0;
  border-radius: 9px;
  font-size: 20px;
  float: right;
  cursor: pointer;
}
input.contact-title::-webkit-input-placeholder {
  font-family: 'medium';
  font-size: 20px;
  opacity: 0.75;
  color: #000000;
  letter-spacing: 0.8px;
  line-height: 25px;
}
input.contact-title::-moz-placeholder {
  font-family: 'medium';
  font-size: 20px;
  opacity: 0.75;
  color: #000000;
  letter-spacing: 0.8px;
  line-height: 25px;
}
input.contact-title:-ms-input-placeholder {
  font-family: 'medium';
  font-size: 20px;
  opacity: 0.75;
  color: #000000;
  letter-spacing: 0.8px;
  line-height: 25px;
}
input.contact-title:-moz-placeholder {
  font-family: 'medium';
  font-size: 20px;
  opacity: 0.75;
  color: #000000;
  letter-spacing: 0.8px;
  line-height: 25px;
}
textarea.contact-textarea::-webkit-input-placeholder {
  font-family: 'medium';
  font-size: 20px;
  opacity: 0.75;
  color: #000000;
  letter-spacing: 0.8px;
  line-height: 25px;
}
textarea.contact-textarea::-moz-placeholder {
  font-family: 'medium';
  font-size: 20px;
  opacity: 0.75;
  color: #000000;
  letter-spacing: 0.8px;
  line-height: 25px;
}
textarea.contact-textarea:-ms-input-placeholder {
  font-family: 'medium';
  font-size: 20px;
  opacity: 0.75;
  color: #000000;
  letter-spacing: 0.8px;
  line-height: 25px;
}
textarea.contact-textarea:-moz-placeholder {
  font-family: 'medium';
  font-size: 20px;
  opacity: 0.75;
  color: #000000;
  letter-spacing: 0.8px;
  line-height: 25px;
}
.discuss-question {
  font-size: 30px;
  font-family: 'semibold';
  color: #000000;
  letter-spacing: 0.48px;
  margin-bottom: 21px;
}
.discuss-drop-a-line {
  font-size: 20px;
  font-family: 'medium';
  color: #000000;
  letter-spacing: 0.8px;
  margin-bottom: 62px;
}
.discuss-find-me {
  font-size: 20px;
  font-family: 'semibold';
  color: #000000;
  letter-spacing: 0.8px;
  margin-bottom: 13px;
}
.discuss-socials {
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.discuss-socials .up {
  display: inline-block;
  background-image: url("./images/socials/black-up.svg");
  background-size: 42px 30px;
  width: 42px;
  height: 30px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.discuss-socials .linkedin {
  display: inline-block;
  background-image: url("./images/socials/black-linkedin.svg");
  background-size: 31px 30px;
  width: 31px;
  height: 30px;
}
.discuss-socials .git {
  display: inline-block;
  background-image: url("./images/socials/black-git.svg");
  background-size: 29px 36px;
  width: 29px;
  height: 36px;
}

.footer-wr {
  position: relative;
  padding-top: 30px;
  overflow-x: hidden;
}


/** ADAPTIVNESS */

@media screen and (max-width: 1024px) {
  .avatar img {
    width: 220px;
  }
  .info {
    padding-top: 30px;
  }
  .name {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .title {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .desc {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .hire {
    top: 25px;
  }
  .arrow-down-right {
    border-bottom: 100px solid #fff;
  }
  .experience .container {
    padding-top: 40px;
    max-width: 700px;
  }
  .experience-number {
    font-size: 50px;
  }
  .experience-type {
    font-size: 25px;
  }
  .portfolio {
    margin-bottom: 90px;
  }
  .portfolio-app {
    background-size: 130px 130px;
    width: 130px;
    height: 130px;
  }
  .portfolio-title {
    font-size: 28px;
    line-height: 36px;
  }
  .portfolio-apps {
  }
  .discuss-content {
    width: 45%;
  }
}


@media screen and (max-width: 760px) {
  header .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .avatar {
    margin-right: 0;
  }
  .avatar img {
    border-radius: 50%;
    width: 300px;
  }
  .info {
    text-align: center;
    width: 100%;
  }
  .hire {
    position: static;
  }
  .socials {
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .arrow-down-right {
    border-bottom: 100px solid #fff;
  }
  .experience .container {
    padding-top: 60px;
  }
  footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .discuss-content {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .contact-form {
    width: 100%;
  }
  .discuss-socials {
    margin: 0 auto;
  }
  .contact-title {
    height: 40px;
    font-size: 18px;
    padding: 20px;
  }
  .contact-textarea {
    height: 100px;
    font-size: 18px;
    padding: 20px;
  }
}


@media screen and (max-width: 670px) {
  header {
    padding-bottom: 96px;
  }
  .portfolio-app {
    background-size: 120px 120px;
    width: 120px;
    height: 120px;
  }
  .arrow-down-right {
    border-bottom: 70px solid #fff;
  }
}


@media screen and (max-width: 536px) {
  .experience-node {
    margin-bottom: 20px
  }
  .portfolio .container {
    padding-top: 90px;
  }
  .arc {
    height: 80px;
  }
  .direct-contact {
    padding-top: 60px;
  }
  .arrow-down-right {
    border-bottom: 50px solid #fff;
  }
}


@media screen and (max-width: 319px) {
  .arrow-down-right {
    display: none;
  }
}
